/*
    -----------
    MIN HEIGHT HELPER CLASSES
    -----------
*/

$num_step : 20;
$spacing : 1em;
$spacinglabel : 1;

@for $i from 10 through $num_step {
    .mh-#{$i * $spacinglabel}em { 
        min-height: $spacing * $i !important; 
    }
}