
/*
    ======
    PADDING OVERRIDES
    ======
*/

$num_step : 5;
$spacing : 5px;

// padding
@for $i from 0 through $num_step {
  .p-#{$i*5} { padding: $spacing * $i !important; }
}

// padding-bottom
@for $i from 0 through $num_step {
  .pb-#{$i*5} { padding-top: $spacing * $i !important; }
}

// padding-top
@for $i from 0 through $num_step {
  .pt-#{$i*5} { padding-bottom: $spacing * $i !important; }
}

// padding-left
@for $i from 0 through $num_step {
  .pl-#{$i*5} { padding-left: $spacing * $i !important; }
}

// padding-right
@for $i from 0 through $num_step {
  .pr-#{$i*5} { padding-right: $spacing * $i !important; }
}
