.lhx5 {
    line-height: 0.5em;
}
.lh1{
    line-height: 1em;
}
.lh1x2 {
    line-height: 1.2em;
}
.lh1x5 {
    line-height: 1.5em;
}
.lh2 {
    line-height: 2em;
}
.lh2x5 {
    line-height: 2.5em;
}
.lh3{
    line-height: 3em;
}