/*
    Top Labeled Form
*/
form .input-wrap {
    border: 1px solid black;
    background: #f0f0f0;
    padding: 10px;
    margin-bottom: 25px;
}

form .input-wrap label {
    font-size: .8em
}

form input {
    padding: 0px;
    border: 0px;
    width: 100%;
    margin: 0px;
    background: #f0f0f0;
    padding: .25em 0;
    border: 0px solid #c0c0c0;
}

.input-wrap.focused {
  box-shadow: inset 0 0 5px #7e5480;
}






.input-wrap .prompt {
    opacity: .0;
    filter: alpha(opacity=0);
}

.input-wrap.focused .prompt {
  display: inline;
    opacity: 1;
    filter: alpha(opacity=100);
}


.input-wrap.focused .default {
  display: inline;
  opacity: 1;
}

.input-wrap.focused .default {
  display: none;
    opacity: 0;
}






input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none !important;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: inset 0 0 0px rgba(81, 203, 238, 1);
}

input[type=text]:focus, form input[type=password]:focus, form textarea:focus {
  outline: none !important;
}