<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Fo' Drizzle Frizzle</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">


        <!-- modernizr -->
        <script type="text/javascript" src="assets/js/modernizr.js"></script>

        <!--[if IE 7]>
        <link rel="stylesheet" href="css/font-awesome-ie7.min.css">
        <![endif]-->

        <!-- fonts -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700' rel='stylesheet' type='text/css'>

        <!-- css -->
        <link rel="stylesheet" type='text/css' href="assets/css/style.css">

        <!--[if (lt IE 9) & (!IEMobile)]>
        <link rel="stylesheet" href="css/ie.css">
        <![endif]-->

        <!-- jQuery -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.event.drag-2.2/jquery.event.drag-2.2.js"></script>
        <script type="text/javascript" src="assets/js/jquery.event.drag-2.2/jquery.event.drag.live-2.2.js"></script>
        <script type="text/javascript" src="assets/js/jquery.event.move.js"></script>


        <!-- Socket IO -->
        <script type="text/javascript" src="socket.io/socket.io.js"></script>

        <!-- TOK BOX -->
        <script type="text/javascript" src="http://static.opentok.com/webrtc/v2.0/js/TB.min.js"></script>

        <script type="text/javascript">
            
            ///////////
            // Video //
            ///////////

            var apiKey = '<%= data.apiKey %>';
            var session = TB.initSession('<%= data.sessionId %>');
            var publisher = TB.initPublisher(apiKey, 'myPublisherDiv');
			var nop = 1;
			var currentPlayer = 1;
			$("#player" + currentPlayer).addClass("active");
            session.addEventListener('sessionConnected', function(e){
            session.publish( publisher );
                for (var i = 0; i < e.streams.length; i++) {
                // Make sure we don't subscribe to ourself
                    if (e.streams[i].connection.connectionId == session.connection.connectionId) {
                      return;
                    }
                    session.subscribe(e.streams[i]);
                }
            });

            session.addEventListener('streamCreated', function(e){
            	nop = e.streams.length;
                for (var i = 0; i < e.streams.length; i++) {
                    // Make sure we don't subscribe to ourself
                    if (e.streams[i].connection.connectionId == session.connection.connectionId) {
                        return;
                    }
                    // Create the div to put the subscriber element in to
                    var div = document.createElement('div');
                    div.setAttribute('id', 'stream' + e.streams[i].streamId);
                    // document.body.appendChild(div);
                    $('.playersbar').prepend(div);
                    session.subscribe(e.streams[i], div.id);
                }
            });

            session.connect(apiKey, '<%= data.token %>');
			


            /////////////
            // Sockets //
            /////////////

            var App = {};

            App.socket = io.connect('/');

            App.socket.emit('test', { data: 'data' });

            App.socket.on('new user', function(data) {
                console.log(data.data);
            });


            App.socket.on('draw', function(data) {
                console.log('Draw');
                return App.draw(data.x, data.y, data.style, data.type);
            });

            /////////////
            // Drawing //
            /////////////

            var brush = {
                            fillStyle : "solid",
                            strokeStyle : "#e51aca",
                            lineWidth : 5,
                            lineCap : "round"
                        };

            App.init = function() {
                App.canvas = document.getElementById('canvas');
                App.canvas.height = $('.streamcontainer').height();
                App.canvas.width = $('.streamcontainer').width();

                //var style = 
                
                App.ctx = App.canvas.getContext("2d");
                App.ctx.fillStyle = brush.fillStyle;
                App.ctx.strokeStyle = brush.strokeStyle;
                App.ctx.lineWidth = brush.lineWidth;
                App.ctx.lineCap = brush.lineCap;

                console.log("APP!");
                console.dir(App);

                
                return App.draw = function(x, y, style, type) {
                    console.dir(style);

                    //pp.ctx.strokeStyle = style.strokeStyle;
                    //App.ctx.lineWidth = style.lineWidth;

                    if (type === "dragstart") {
                        App.ctx.beginPath();
                        App.ctx.moveTo(x, y);
                    } else if (type === "drag") {
                        App.ctx.lineTo(x, y);
                        App.ctx.stroke();
                    } else {
                        App.ctx.closePath();
                    }
                }
            }

            $(document).ready(function () {

                App.init();
                //console.log("APP");
                //console.dir(App);
            
                // Draw Event

                $('#canvas').on('dragstart drag dragend', function(e) {
                    var offset, type, x, y;
                    
                    type = e.handleObj.type;
                    offset = $(this).offset();
                    e.offsetX = e.pageX - offset.left;
                    e.offsetY = e.pageY - offset.top;
                    x = e.offsetX;
                    y = e.offsetY;

                    var lineStyle = {    
                                        strokeStyle: brush.strokeStyle,
                                        stylelineWidth: brush.lineWidth
                                    };
                    
                    console.dir(lineStyle);
                    App.draw(x, y, lineStyle, type);
                    
                    App.socket.emit('drawClick', {
                        x: x,
                        y: y,
                        style: lineStyle,
                        type: type
                    });
                });

                $(window).on('resize', function(e) {
                    console.log('Resize');

                    saveResizeAndRedisplay($('.streamcontainer').width());
                });
            });
            
            function sendEmail(){
            	$.ajax({
            		url: "/email",
            		type: "post",
            		data: {email: $("#email").val(), sessionId: $("#sessionId").val()}
            		}).done(function( msg ) {
  				alert( "Email Sent Status: " + msg );
			});
			}
			
			function search(){
			
				$.ajax({
						url: "/image",
						type: "get",
						data: {file: $("#searchitem").val()}
					}).done(function(msg){
						$("#searchresult").attr('src', msg);
					});
			}
			
			function getTurn(){
				currentPlayer++;
				$("#player" + currentPlayer).addClass("active");
			}
				

            function saveResizeAndRedisplay(newWidth) {

                // save the canvas content as imageURL
                var data = App.canvas.toDataURL();
                var newHeight = (newWidth * App.canvas.height) / App.canvas.width;
                // resize the canvas
                App.canvas.width = newWidth;
                App.canvas.height = newHeight;
                App.ctx.fillStyle = brush.fillStyle;
                App.ctx.strokeStyle = brush.strokeStyle;
                App.ctx.lineWidth = brush.lineWidth;
                App.ctx.lineCap = brush.lineCap;

                // scale and redraw the canvas content
                var img = new Image();
                img.onload = function () {
                    App.ctx.drawImage(img, 0, 0, img.width, img.height, 0, 0, App.canvas.width, App.canvas.height);
                }
                img.src = data;

            }

        </script>

        <style type="text/css">
        canvas {
            position: absolute;
            z-index: 100;
            /* top: 0px;
            left: 0px; 
            margin-top: -318px; */
        }

        .OT_mirrored {
            float: none;
        }

        </style>

    </head>
   
    <body ng-app>

        <div id="outer-wrap">
        <div id="inner-wrap">



            <!-- THE MAIN PORTION OF THE PAGE -->
            <div id="main" role="main" class="bg-light">


                <!-- LEFT PANEL -->
                <div class="left-panel">
                    <!-- VIDEO DISPLAY LAYER -->
                    <div class="videodisplay">
                        <div class="streamcontainer">                                
                            <canvas id='canvas'></canvas>
                            <div id="myPublisherDiv"></div>
                        </div>
                    </div>
                </div>


                <!-- RIGHT PANEL -->
                <div class="right-panel">

                    <div class="apptitle">
                        DRIZZLE FRIZZLE
                    </div>

                    <!-- SEARCH LAYER -->
                    <div class="actions">
                        <div class="searchwrap">
                            <div class="searchbar">
                                <form action="">
                                    <input placeholder="SEARCH PICTURE" type="text" id="searchitem" name="searchitem" />
                                    <button id="submitbutton" type="submit"><i class="icon-picture"></i></button>
                                </form>
                            </div>
                            <div class="searchresult">
                                SEARCH RESULT DISPLAYED HERE <br>
                                <img  id="searchresult" src="http://placehold.it/100x100" alt="">
                            </div>
                        </div>


                    </div>


                    <!-- PARTICIPANT LAYER -->
                    <div class="playersbar">
                        <div class="box cf">
                            <div class="playerview" id="player1" >
                                <div class="playerinfo">
                                    <div class="playerole">Drizzle Maker</div>
                                </div>
                            </div>
                            <div class="playerview" id="player2" >
                                <div class="playerinfo" >
                                    <div class="playerole">Drizzler</div>
                                </div>
                            </div>
                            <div class="playerview" id="player3" >
                                <div class="playerinfo">
                                    <div class="playerole">Frizzler</div>
                                </div>
                            </div>
                            <div class="playerview" id="player4" >
                                <div class="playerinfo">
                                    <div class="playerole">Frizzler</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <!-- SHARE LAYER -->
                    <div class="sharewrap">
                        <div id="share-link">
                            <form action="" method="POST" >
                                <input placeholder="INVITE FRIENDS" type="text" name="email" id="email" style="width: 89%;">
                                <input type="hidden" name="sessionId" id="sessionId" value="<%= data.sessionId %>">
                                <button id="sharebutton" type="button" value="Submit" onClick="sendEmail()" style="10%"><i class="icon-envelope-alt"></i></button>
                            </form>
                        </div>                        
                    </div>



                </div>


            </div>

        </div>
        <!--/#inner-wrap-->
        </div>
        <!--/#outer-wrap-->


        <!-- END OF PAGE SCRIPT  
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.0.min.js"><\/script>')</script> -->

        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        
        <!-- ADDITIONAL SCRIPTS
        <script src="./assets/js/plugins.js"></script> -->

        <!-- ADDITIONAL PAGE SCRIPTS --> 
        <script type="text/javascript">            
            jQuery(document).ready(function($) {
                $('.input-wrap input').focus(function(){
                    $(this).parent().addClass('focused');
                    console.log('hello');
                });
                $('.input-wrap input').focusout(function(){
                    $(this).parent().removeClass('focused');
                });
            });
        </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script type="text/javascript">
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>


    
    </body>




