/////// SITE COLORS
$solidColor:            #3E4971;
$solid-lightenColor:    lighten($solidColor, 20%);
$solid-darkenColor:     darken($solidColor, 20%);
$lightColor:            #F0F0F0;
$darkColor:             #333333;

// BackGround
$primaryColor:      #33C9FF;
$secondaryColor:    #363636;
$dangerColor:       #F6656B;
$warningColor:      #CC333F;
$successColor:      #4DAA57;
$infoColor:         #C7F464;
$disabledColor:     #F0F0F0;

$defaultColor:      #FFD101;
$inverseColor:      lighten($primaryColor, 30%);

$bgWhite: #FFFFFF;
$bgGrey: #F0F0F0;
$bgLight: $lightColor;

$textColor:         #000000;
$invertedTextColor: invert($textColor);

// SOCIAL COLORS
$facebook:          #3B5998;
$foursquare:        #8FD400;
$google:            #C63D2D;
$instagram:         #4E433C;
$linkedin:          #4875B4;
$tumblr:            #2B4964;
$twitter:           #33CCFF;
$vimeo:             #86B32D;
$youtube:           #FF3333;

//// SITE FONTS ::  SAN-SERIF
$san-serif:                    'Ubuntu', Helvetica, Arial, sans-serif;
$san-serif-italic:             $san-serif;                                 
$san-serif-light:              $san-serif;
$san-serif-ultralight:         $san-serif;
$san-serif-medium:             $san-serif;
$san-serif-regular:            $san-serif;
$san-serif-bold:               $san-serif;
$san-serif-bold-italic:        $san-serif;
$san-serif-bold-condensed:     $san-serif;


//// SITE FONTS ::  SERIF
$serif:                    'Vollkorn', Georgia, serif;
$serif-italic:             $serif;
$serif-light:              $serif;
$serif-ultralight:         $serif;
$serif-medium:             $serif;
$serif-regular:            $serif;
$serif-bold:               $serif;
$serif-bold-italic:        $serif;
$serif-bold-condensed:     $serif;

//// FONT SIZES
$fontsize-xsmall:          0.8em;
$fontsize-small:           0.9em;
$fontsize-medium:          1.0em;
$fontsize-large:           1.2em;
$fontsize-xlarge:          1.4em;
$fontsize-xxlarge:         2.0em;

//// CTA BUTTON SIZES
$width-xsmall:             80px;
$width-small:              120px;
$width-medium:             160px;
$width-large:              280px;
$width-xlarge:             300px;
$width-xxlarge:            340px;


//// SITE STRUCTURE BG
$bgHeader: $primaryColor;
$bgNav: $secondaryColor;



//// mixins inclusions
@import "./mediaqueries/__mediaqueries.scss";  // Media Queries


//// helper classes inclusion + prototyping classess
@import "./__helpers.scss";



// site structure
.c5 .box.padded > div,
.c4 .box.padded > div,
.c3 .box.padded > div,
.c2 .box.padded > div,
.c1 .box.padded > div {
padding: .5em;
position: relative;
}


body {
  color: #333;
  position: relative;
  width: 100%;
  min-width: 20em;
  font-family: $san-serif;
  text-transform: uppercase;
}

#main {
    overflow: hidden;
}
#main .block {
  max-width: 1020px;
  margin: 0 auto; 
}

#footer .block {
  max-width: 1020px;
  margin: 0 auto;
}

.c1 > .box,
.c2 > .box,
.c3 > .box,
.c4 > .box,
.c5 > .box,
.c6 > .box,
.c7 > .box,
.c8 > .box {
width: 100%;
float: left;
}




//// VIDEO DIV STYLING
#myPublisherDiv {
    width: 680px;
    height: 420px; 


}




/* ACTION LAYER */
canvas {    
}


.left-panel {
  width: 50%;
  float: left;
  background: #d0d0d0;
  min-height: 800px;
}

.apptitle {
  font-size: 30px;
  width: 100%;
  display: block;
  padding: 10px 0;
  line-height: 1em;
  text-align: center;
  font-weight: normal;
  color: #fff;
}

.videodisplay {
  margin: 0 auto;
}

.right-panel {
  width: 50%;
  float: right;
  background: #23dc9e;
  min-height: 800px;
}


.streamcontainer {
    width: 100%;
    margin: 0px auto;
}
.streamcontainer > div {
    width: 100% !important;
    height: 680px !important;
}

/* ACTION LAYER */
.searchbar {
    padding: 10px;
    background: #f0f0f0;
}
.searchbar input {
    border: 1px solid #d0d0d0;
}
#searchitem {
    width: 90%;
}
#submitbutton {
}

.OT_mirrored {
  float: left;
}

/* PARTICIPANT LAYER */
.playersbar {
    width: 100%;
}
.playerinfo {
    text-align: center;
}
.playerview {
    width: 25%;
    float: left;
    height: 200px;
    background: #f0f0f0;
    border: 1px solid black;
    margin-left: -2px;
}



// ==========================================
// Media Queriers
// ==========================================
// 320: Smartphone Portrait
// 480: Smartphone Landscape
// 640 or 768 ???: IPad Portrait ???
// 960: IPad Landscape / Small Laptop ???
// 1024: Desktop and Laptop
// 1280: Wide Screen
// ==========================================
@import "style-480.scss";
@import "style-640.scss";
	@import "style-720.scss";
@import "style-768.scss";
@import "style-960.scss";
@import "style-1024.scss";
	@import "style-1080.scss";
@import "style-1280.scss";






// exceptions :: print stylesheets and IE bullshit
@import "./exceptions/__exceptions.scss";
